
body {
  text-align: center;
}
p {
  color: grey;
  font-size: 1.2vw;
  line-height: 1.2;
  margin: 1vw 0;
}
h1 {
  font-size: 2.3vw;
  font-family:'Abril Fatface', cursive;
  font-weight: lighter;
  line-height: 1;
  margin: 1.5vw 0;
}
a {
  font-size: 1.2vw;
}
.product-container {
  position: relative;
  background-color: #f3eae3;
  margin: 30px;
  padding: 50px;
}
.product-box {
  border-radius: 8px;
  /* overflow: hidden; */
  position: relative;
  display: inline-block;
  width: 50%;
  margin: 50px auto;
  background-color: white;
  text-align: left;
}
.product-image1 {
  /* float: left; */
  width: 50%;
  border-radius: 8px 0 0 8px;
}
.product-image2 {
  display: none;
}
.product-data-outer  {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: left;
}
.product-data{
  padding: 1.1vw 1.7vw;
}
.product-title {
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}
.product-prices {
  margin-bottom: 1vw;
  padding: 1vw 0;
  color: #3f846a;
}
del {
  color: grey;
  font-size: 1vw;
  margin-left: 10px;
}
.product-price{
  font-family:'Abril Fatface', cursive;
  display: inline-block;
  vertical-align: middle;
  font-size: 2.2vw;
}
.add-to-cart-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #3f806a;
  background-image: linear-gradient(top, #3f806a, #3f806a);
  background-image: linear-gradient(to bottom, #3f806a, #3f806a);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 0;
  text-decoration: none;
}

.add-to-cart-btn:hover {
  background: #1a4031;
  background-image: linear-gradient(top, #1a4031, #1a4031);
  background-image: linear-gradient(to bottom, #1a4031, #1a4031);
  text-decoration: none;
}
.add-to-cart-btn img {
  margin-right: 10px; 
}
@media only screen and (max-width: 1000px) {
  a {
    font-size: 1.5vw;
  }
  p {
    font-size: 1.6vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  del {
    font-size: 1.4vw;
  }
  .product-container {
    padding: 20px 0 50px;
  }
  .product-box {
    margin: 20px auto;
    text-align: center;
    width: 35%;
  }
  .product-image1 {
    display: none;
  }
  .product-image2 {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 8px 0 0;
  }
  .product-data-outer{
    position: relative;
    width: 100%;
  }
  .product-data {
    padding: 1.5vw 2vw;
  }
  .product-price {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 5vw;
    line-height: 1.2;
  }
  p {
    font-size: 3vw;
    line-height: 1.2;
  }
  a {
    font-size: 2.4vw;
  }
  del {
    font-size: 2vw;
  }
  .product-container {
    padding: 20px 0 50px;
    margin: 15px;
  }
  .product-box {
    width: 60%
  }
  .product-data{
    padding: 2vw 3vw;
  }
  .product-price {
    font-size: 5vw;
  }
  .add-to-cart-btn {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 8vw;
    line-height: 1.3;
    margin: 2vw 0;
  }
  p {
    font-size: 5vw;
    line-height: 1.3;
    margin: 2.5vw 0;
  }
  a {
    font-size: 4vw;
  }
  del {
    font-size: 3.5vw;
  }
  .product-container {
    padding: 10px 0 ;
    margin: 4px;
  }
  .product-box {
    width: 90%
  }
  .product-data{
    padding: 5vw;
  }
  .product-price {
    font-size: 7vw;
  }
  .product-prices {
    margin-bottom: 2vw;
    padding: 3vw 0;
  }
  .add-to-cart-btn {
    padding: 5px 0;
  }
}
